<h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800">Welcome to Image Gallery</h4>

<h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-stone-800">Explore all Galleries</h6>

<h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-stone-800">Most recent Galleries</h6>
<div style="padding-left:2%;">
    <% @recent_galleries.first(3).each do |gallery| %>
        <div class="flex flex-col pb-3">
            <%= render gallery %>
        </div>
    <% end %>
</div>

<h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-stone-800">Create your own Image Gallery</h6>