<div style="padding-top:20px">
    <h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800">
        You cannot access this page, click <%= link_to "here", root_path, class:"text-black hover:text-purple-900 underline" %> to be redirected
    </h4>
</div>