<div style="padding-top:20px">
    <h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800">
        An error has ocurred, click <%= link_to "here", root_path, class:"text-black hover:text-stone-300" %> to be redirected
    </h4>
</div>