
<footer class="p-4 bg-white border border-blue-900 border-opacity-50 border-t-1 border-r-0 border-b-0 border-l-0 md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-gray-500 sm:text-center">© 2022 <a href="https://thecurve.io/about-us/" class="hover:underline">Image Gallery Technical Test</a>
    </span>
</footer>
