<p style="color: green"><%= notice %></p>

<h2 class="text-5xl font-normal leading-normal mt-0 mb-2 text-stone-800">Welcome to Image Gallery</h2>
<br>
<h3 class="text-4xl font-normal leading-normal mt-0 mb-2 text-stone-800">All Galleries</h3>
<p id="helper-text-explanation" class="mt-2 text-base text-gray-500 dark:text-gray-400">Select or create a gallery</p>


<div style="margin-top:10px; margin-bottom:30px;">
  <%= link_to "New gallery", new_gallery_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
</div>

<dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-slate-800 dark:divide-gray-700">
    <% if @galleries.length > 0 %>
      <% @galleries.each do |gallery| %>
        <div class="flex flex-col pb-3">
            <%= render gallery%>
        </div>
      <% end %>
    <% else %>
      <h5 class="text-2xl font-normal leading-normal mt-0 mb-2 text-stone-800"> There are no galleries </h5>
    <% end %>
</dl>

<img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 z-0 h-screen" src="https://www.creativefabrica.com/wp-content/uploads/2020/05/14/3D-Cube-Pattern-Background-Graphics-4115767-1.jpg" alt="...">

