<p style="color: green"><%= notice %></p>

<h1>My Galleries</h1>

<div id="galleries">
  <% @galleries = get_galleries_by_user_id() %>
  <% @galleries.each do |gallery| %>
    <%= render gallery %>
    <p>
      <%= link_to "Show this gallery", gallery_path(gallery.id, view_name: "my_galleries") %>
    </p>
  <% end %>
</div>

<%= link_to "New gallery", new_gallery_path %>
