<h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800">New gallery</h4>

<%= render "form", gallery: @gallery %>

<br>

<div>
  <%= link_to "Back to galleries", galleries_path %>
</div>
