<h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800"><%= @gallery.title %></h4>

<% @images = get_images_by_gallery_id(@gallery.id) %>

<% images_url =  %>
<% fst_image = @images[0].image_url %>
<% images_url = fst_image%>
<% @images.drop(1).each do |image| %>
    <% images_url = images_url + ","+ image.image_url  %>
<% end %>


<div data-controller="slideshow"
    data-slideshow-images="<%= images_url %>">

    <button data-action="click->slideshow#prev">Previous</button>
    <button data-action="click->slideshow#next">Next</button>
    <img src="<%= fst_image %>" id="img" style="width:100%;height:auto;">
</div> 

