<h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-zinc-800 pb-5">Edit image</h4>

<%= render "form", image: @image %>

<br>

<div style="padding-top:10px;">
  <%= link_to "â† Back to Image", @image, class: "hover:text-purple-900 underline" %>
</div>
